.text_text__jYg6z {
    width: 100%;
    margin: var(--spacing-section) 0;
    text-align: center
}

.text_text__jYg6z h2 {
    width: 100%;
    max-width: 24ch;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px
}

@media(min-width:40rem) {
    .text_text__jYg6z h2 {
        white-space: nowrap;
        letter-spacing: 3px
    }
}

.text_text__jYg6z p {
    font-size: var(--font-size-largest);
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto
}

.text_container__DL5YF {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .text_container__DL5YF {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .text_container__DL5YF {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media(min-width:40rem) {
    .text_container__DL5YF {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:40rem)and (max-width:60rem)and (orientation:landscape) {
    .text_container__DL5YF {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:40rem)and (min-width:60rem) {
    .text_container__DL5YF {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.parallaxImage_image__vAUiq {
    position: relative;
    width: 60%
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq {
        width: 100%
    }
}

.parallaxImage_image__vAUiq:first-child {
    z-index: 0;
    display: none
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:first-child {
        display: block
    }
}

.parallaxImage_image__vAUiq:nth-child(2) {
    transform: translate(-10%, 20%);
    z-index: 1;
    display: none
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(2) {
        display: block
    }
}

.parallaxImage_image__vAUiq:nth-child(3) {
    z-index: 0
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(3) {
        transform: translate(-20%)
    }
}

.parallaxImage_image__vAUiq:nth-child(4) {
    z-index: 1;
    align-self: flex-end;
    transform: translateY(-30%)
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(4) {
        transform: translate(-30%, 20%);
        align-self: unset
    }
}

.parallaxImage_image__vAUiq:nth-child(5) {
    z-index: 2;
    transform: translateY(-50%)
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(5) {
        z-index: 0;
        transform: translate(-40%)
    }
}

.social_social__C7RVg {
    width: 100%;
    margin-bottom: calc(var(--spacing-section)*1.5)
}

.social_container__f95aI {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: calc(var(--spacing-section)*-1)
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .social_container__f95aI {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(0rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(0rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .social_container__f95aI {
        padding-left: 0;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:60rem)and (max-width:60rem)and (orientation:landscape) {
    .social_container__f95aI {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem)and (min-width:60rem) {
    .social_container__f95aI {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.social_items__yO9i2 {
    margin-top: 1rem
}

.social_items__yO9i2 li {
    margin: 0 .5rem;
    display: inline-block
}

.social_items__yO9i2 a:link svg, .social_items__yO9i2 a:visited svg {
    fill: var(--izze-black)
}

.social_items__yO9i2 a:focus svg, .social_items__yO9i2 a:hover svg {
    fill: var(--purple)
}

.social_images__wQCxt {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -130px
}

@media(min-width:60rem) {
    .social_images__wQCxt {
        margin-bottom: 0;
        flex-direction: row;
        transform: translate(5%)
    }
}

.layout_main__4J_cK {
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.picture_picture__VABen {
    display: block
}

.picture_image__VzIrU {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    -o-object-fit: cover;
    object-fit: cover
}

.picture_image__VzIrU.picture_loading__oma62 {
    opacity: 0;
    transition: opacity .16s ease
}

.picture_image__VzIrU.picture_loaded__uavL9 {
    opacity: 1
}

.button_button__FoWD6 {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-larger);
    font-family: var(--font-body-medium);
    line-height: 1;
    white-space: nowrap;
    border-radius: 100px;
    background-color: var(--izze-black);
    color: var(--white);
    border: 2px solid var(--izze-black);
    transition: background-color .2s ease-out, color .2s ease-out, border-color .2s ease-out;
    padding: .65rem 1.5rem;
    margin: .25rem;
    justify-content: center;
    min-width: 175px
}

@media(min-width:40rem) {
    .button_button__FoWD6 {
        margin: .25rem .5rem
    }
}

.button_button__FoWD6:link, .button_button__FoWD6:visited {
    text-decoration: none
}

.button_button__FoWD6:focus, .button_button__FoWD6:hover {
    color: var(--izze-black);
    border-color: var(--izze-black);
    background-color: transparent
}

.button_button__FoWD6.button_outline__IbSmv {
    background-color: transparent;
    color: var(--izze-black);
    border: 2px solid var(--izze-black)
}

.button_button__FoWD6.button_outline__IbSmv:focus, .button_button__FoWD6.button_outline__IbSmv:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.button_button__FoWD6.button_smaller__UnK54 {
    font-size: var(--font-size-larger);
    padding: 1rem
}

@media(min-width:20rem) {
    .button_button__FoWD6.button_smaller__UnK54 {
        padding: .5rem 1.25rem
    }
}

.button_button__FoWD6.button_smallest__gjnD5 {
    font-size: var(--font-size-normal);
    padding: 1rem
}

@media(min-width:20rem) {
    .button_button__FoWD6.button_smallest__gjnD5 {
        padding: .5rem 1rem
    }
}

.button_button__FoWD6.button_white__vSSZf {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_white__vSSZf.button_outline__IbSmv {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_white__vSSZf.button_outline__IbSmv:focus, .button_button__FoWD6.button_white__vSSZf.button_outline__IbSmv:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.button_button__FoWD6.button_flavorsHero__RiI_a {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_flavorsHero__RiI_a.button_outline__IbSmv {
    background-color: transparent;
    color: #3e0e2b;
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_flavorsHero__RiI_a.button_outline__IbSmv:focus, .button_button__FoWD6.button_flavorsHero__RiI_a.button_outline__IbSmv:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.button_button__FoWD6.button_flavorHeroShop__0lWfJ {
    background-color: var(--white);
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_flavorHeroShop__0lWfJ:focus, .button_button__FoWD6.button_flavorHeroShop__0lWfJ:hover {
    background-color: transparent
}

.button_button__FoWD6.button_flavorHero__fhtzX {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--hero-button-text)
}

.button_button__FoWD6.button_flavorHero__fhtzX:focus, .button_button__FoWD6.button_flavorHero__fhtzX:hover {
    color: var(--hero-button-text-hover);
    background-color: var(--white)
}

.button_button__FoWD6.button_fill404__KeH5K {
    color: var(--photo-blue-dark)
}

.button_button__FoWD6.button_fill404__KeH5K:focus, .button_button__FoWD6.button_fill404__KeH5K:hover {
    background-color: transparent;
    color: var(--white)
}

.dialog_dialog__QeRYG {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.dialog_content__tV07x {
    margin-top: 1.5rem;
    width: 90vw;
    height: 100vh;
    max-width: 1000px;
    margin-inline: auto;
    border-radius: var(--border-radius)
}

@media(min-width:60rem) {
    .dialog_content__tV07x {
        margin-top: 4rem
    }
}

.dialog_header__bWcH2 {
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 1rem
}

.dialog_title__Z_HSy {
    color: var(--white);
    font-size: var(--font-size-largest);
    margin: 0
}

.dialog_closeButton__T0A1k {
    color: var(--white);
    width: 60px
}

@media(min-width:80rem) {
    .dialog_closeButton__T0A1k {
        width: 40px
    }
}

.dialog_closeButton__T0A1k svg {
    height: 100%;
    width: 100%
}

.dialog_nutrition__yHdFP {
    margin-top: 1.5rem;
    max-width: 300px;
    width: 100vw;
    border-radius: var(--border-radius)
}

@media(min-width:60rem) {
    .dialog_nutrition__yHdFP {
        margin-top: 4rem;
        max-width: 350px
    }
}

.dialog_iframeWrapper__FRFpq {
    background-color: var(--white);
    padding: 1rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    height: 80vh;
    overflow: hidden
}

@media(min-width:80rem) {
    .dialog_iframeWrapper__FRFpq {
        height: 650px
    }
}

.dialog_srOnly__tzY2D {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.dialog_overlay__DN_LC {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    opacity: 50%;
    z-index: -1
}

.flavorPreview_preview__CMQDn {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center
}

@media(min-width:40rem) {
    .flavorPreview_preview__CMQDn {
        display: flex;
        flex-direction: column
    }
}

.flavorPreview_preview__CMQDn p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: var(--font-size-larger)
}

.flavorPreview_preview__CMQDn h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1;
    white-space: nowrap;
    font-size: calc(var(--font-size-h3)*.85)
}

@media(any-hover:hover)and (any-pointer:fine) {
    .flavorPreview_preview__CMQDn {
        cursor: pointer
    }

    .flavorPreview_preview__CMQDn .flavorPreview_circle__HfvSC, .flavorPreview_preview__CMQDn .flavorPreview_productImage__R1Hv5 {
        transform: scale(.96);
        will-change: transform;
        transition: transform 1s ease-out .16s
    }

    .flavorPreview_preview__CMQDn .flavorPreview_hoverImage__vU_aV {
        will-change: transform;
        transform: scale(1);
        opacity: 0;
        transition: transform 1s ease-out .16s, opacity 1s ease-out .16s
    }
}

@media(any-hover:hover)and (any-pointer:fine)and (prefers-reduced-motion) {
    .flavorPreview_preview__CMQDn .flavorPreview_circle__HfvSC, .flavorPreview_preview__CMQDn .flavorPreview_productImage__R1Hv5 {
        transform: scale(.96)
    }

    .flavorPreview_preview__CMQDn .flavorPreview_hoverImage__vU_aV {
        transform: scale(1);
        opacity: 0;
        transition: opacity 1s ease-out .16s
    }
}

@media(any-hover:hover)and (any-pointer:fine) {
    .flavorPreview_preview__CMQDn:active .flavorPreview_productImage__R1Hv5, .flavorPreview_preview__CMQDn:focus .flavorPreview_productImage__R1Hv5, .flavorPreview_preview__CMQDn:hover .flavorPreview_productImage__R1Hv5 {
        transition: transform .6s ease-out 80ms;
        transform: scale(1)
    }

    .flavorPreview_preview__CMQDn:active .flavorPreview_circle__HfvSC, .flavorPreview_preview__CMQDn:focus .flavorPreview_circle__HfvSC, .flavorPreview_preview__CMQDn:hover .flavorPreview_circle__HfvSC {
        transform: scale(1.01);
        transition: transform .6s ease-out 80ms
    }

    .flavorPreview_preview__CMQDn:active .flavorPreview_hoverImage__vU_aV, .flavorPreview_preview__CMQDn:focus .flavorPreview_hoverImage__vU_aV, .flavorPreview_preview__CMQDn:hover .flavorPreview_hoverImage__vU_aV {
        transform: scale(1.04);
        opacity: 1;
        transition: transform .6s ease-out 80ms, opacity .3s ease-out 80ms
    }
}

@media(prefers-reduced-motion) {
    .flavorPreview_preview__CMQDn:active .flavorPreview_circle__HfvSC, .flavorPreview_preview__CMQDn:active .flavorPreview_productImage__R1Hv5, .flavorPreview_preview__CMQDn:focus .flavorPreview_circle__HfvSC, .flavorPreview_preview__CMQDn:focus .flavorPreview_productImage__R1Hv5, .flavorPreview_preview__CMQDn:hover .flavorPreview_circle__HfvSC, .flavorPreview_preview__CMQDn:hover .flavorPreview_productImage__R1Hv5 {
        transform: scale(.96)
    }

    .flavorPreview_preview__CMQDn:active .flavorPreview_hoverImage__vU_aV, .flavorPreview_preview__CMQDn:focus .flavorPreview_hoverImage__vU_aV, .flavorPreview_preview__CMQDn:hover .flavorPreview_hoverImage__vU_aV {
        transform: scale(1);
        opacity: 1;
        transition: opacity .3s ease-out 80ms
    }
}

@media(min-width:60rem) {
    .flavorPreview_preview__CMQDn.flavorPreview_bottle__ul_0_ {
        padding-top: 5rem
    }
}

.flavorPreview_preview__CMQDn.flavorPreview_bottle__ul_0_ .flavorPreview_circle__HfvSC {
    top: 32%
}

.flavorPreview_image__bl5Pv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 384/683;
    width: 100%;
    margin: 0 auto;
    max-width: 220px
}

@media(min-width:40rem) {
    .flavorPreview_image__bl5Pv {
        max-width: 240px
    }
}

@media(min-width:60rem) {
    .flavorPreview_image__bl5Pv {
        max-width: 100%
    }
}

.flavorPreview_circle__HfvSC {
    position: absolute;
    z-index: -1;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden
}

.flavorPreview_hoverImage__vU_aV {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

@media(any-hover:hover)and (any-pointer:fine) {
    .flavorPreview_hoverImage__vU_aV {
        opacity: 0
    }
}

.flavorPreview_can__hTS4j .flavorPreview_content__wdeZO {
    width: 100%;
    text-align: center;
    margin-top: -5%
}

@media(min-width:40rem) {
    .flavorPreview_can__hTS4j .flavorPreview_content__wdeZO {
        flex: 1 1
    }
}

@media(min-width:60rem) {
    .flavorPreview_can__hTS4j .flavorPreview_content__wdeZO {
        margin-top: -15%
    }
}

.flavorPreview_bottle__ul_0_ .flavorPreview_content__wdeZO {
    width: 100%;
    text-align: center;
    margin-top: -1%
}

@media(min-width:40rem) {
    .flavorPreview_bottle__ul_0_ .flavorPreview_content__wdeZO {
        flex: 1 1
    }
}

@media(min-width:60rem) {
    .flavorPreview_bottle__ul_0_ .flavorPreview_content__wdeZO {
        margin-top: 10%
    }
}

.flavorPreview_ctas__TQuBL {
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: center
}

.flavorPreview_button__phklH {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-larger);
    font-family: var(--font-body-medium);
    line-height: 1;
    white-space: nowrap;
    border-radius: 100px;
    background-color: var(--izze-black);
    color: var(--white);
    border: 2px solid var(--izze-black);
    transition: background-color .2s ease-out, color .2s ease-out, border-color .2s ease-out;
    padding: .65rem 1.5rem;
    margin: .25rem
}

@media(min-width:40rem) {
    .flavorPreview_button__phklH {
        margin: .25rem .5rem
    }
}

.flavorPreview_button__phklH:link, .flavorPreview_button__phklH:visited {
    text-decoration: none
}

.flavorPreview_button__phklH:focus, .flavorPreview_button__phklH:hover {
    color: var(--izze-black);
    border-color: var(--izze-black);
    background-color: transparent
}

.flavorPreview_button__phklH.flavorPreview_outline__1YEAV {
    background-color: transparent;
    color: var(--izze-black);
    border: 2px solid var(--izze-black)
}

.flavorPreview_button__phklH.flavorPreview_outline__1YEAV:focus, .flavorPreview_button__phklH.flavorPreview_outline__1YEAV:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.flavorPreview_button__phklH.flavorPreview_smaller__dI_91 {
    font-size: var(--font-size-larger);
    padding: 1rem
}

@media(min-width:20rem) {
    .flavorPreview_button__phklH.flavorPreview_smaller__dI_91 {
        padding: .5rem 1.25rem
    }
}

.flavorPreview_button__phklH.flavorPreview_smallest__sFjpW {
    font-size: var(--font-size-normal);
    padding: 1rem
}

@media(min-width:20rem) {
    .flavorPreview_button__phklH.flavorPreview_smallest__sFjpW {
        padding: .5rem 1rem
    }
}

.flavorPreview_button__phklH.flavorPreview_white__VvHdz {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.flavorPreview_button__phklH.flavorPreview_white__VvHdz.flavorPreview_outline__1YEAV {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white)
}

.flavorPreview_button__phklH.flavorPreview_white__VvHdz.flavorPreview_outline__1YEAV:focus, .flavorPreview_button__phklH.flavorPreview_white__VvHdz.flavorPreview_outline__1YEAV:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.flavorPreview_button__phklH.flavorPreview_flavorsHero__SeTHF {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.flavorPreview_button__phklH.flavorPreview_flavorsHero__SeTHF.flavorPreview_outline__1YEAV {
    background-color: transparent;
    color: #3e0e2b;
    border: 2px solid var(--white)
}

.flavorPreview_button__phklH.flavorPreview_flavorsHero__SeTHF.flavorPreview_outline__1YEAV:focus, .flavorPreview_button__phklH.flavorPreview_flavorsHero__SeTHF.flavorPreview_outline__1YEAV:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.flavorPreview_button__phklH.flavorPreview_flavorHeroShop__pC2EM {
    background-color: var(--white);
    border: 2px solid var(--white)
}

.flavorPreview_button__phklH.flavorPreview_flavorHeroShop__pC2EM:focus, .flavorPreview_button__phklH.flavorPreview_flavorHeroShop__pC2EM:hover {
    background-color: transparent
}

.flavorPreview_button__phklH.flavorPreview_flavorHero__xNSIx {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--hero-button-text)
}

.flavorPreview_button__phklH.flavorPreview_flavorHero__xNSIx:focus, .flavorPreview_button__phklH.flavorPreview_flavorHero__xNSIx:hover {
    color: var(--hero-button-text-hover);
    background-color: var(--white)
}

.flavorPreview_button__phklH.flavorPreview_fill404__VRjZU {
    color: var(--photo-blue-dark)
}

.flavorPreview_button__phklH.flavorPreview_fill404__VRjZU:focus, .flavorPreview_button__phklH.flavorPreview_fill404__VRjZU:hover {
    background-color: transparent;
    color: var(--white)
}

.flavorPreview_iframe__CzvFJ {
    display: block;
    border: 0;
    min-height: auto
}

.marquee_marquee____KbK {
    width: 100%;
    padding: 1rem 0;
    position: relative
}

.marquee_item__wGhOU {
    display: flex;
    align-items: center
}

.marquee_text__S5gYf {
    color: #fff;
    font-family: var(--font-headline);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 3px
}

@media(min-width:60rem) {
    .marquee_text__S5gYf {
        font-size: 4rem
    }
}

.marquee_icon__B4j_F {
    height: auto;
    display: block;
    margin: 0 1.25rem;
    width: 32px;
    height: 32px
}

@media(min-width:60rem) {
    .marquee_icon__B4j_F {
        width: 45px;
        height: 45px
    }
}

.marquee_blocker__j7p0Y {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

.Flavors_flavors__FvvYB {
    margin-bottom: var(--spacing-section);
    position: relative;
    width: 100%;
    scroll-margin: calc(var(--spacing-section)*2) 0 0
}

.Flavors_container__RPvjD {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: calc(var(--spacing-section)*-1)
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .Flavors_container__RPvjD {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .Flavors_container__RPvjD {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media(min-width:40rem) {
    .Flavors_container__RPvjD {
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 3.75rem;
        padding-right: 3.75rem
    }
}

@media only screen and (min-width:40rem)and (max-width:60rem)and (orientation:landscape) {
    .Flavors_container__RPvjD {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(3.75rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(3.75rem + var(--safe-area-inset-right))
    }
}

@media(min-width:40rem)and (min-width:60rem) {
    .Flavors_container__RPvjD {
        padding-left: 7.5rem;
        padding-right: 7.5rem
    }
}

@media(min-width:60rem) {
    .Flavors_container__RPvjD {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 3.75rem;
        padding-right: 3.75rem;
        margin-top: calc(var(--spacing-section)*-1)
    }
}

@media only screen and (min-width:60rem)and (max-width:60rem)and (orientation:landscape) {
    .Flavors_container__RPvjD {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(3.75rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(3.75rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem)and (min-width:60rem) {
    .Flavors_container__RPvjD {
        padding-left: 7.5rem;
        padding-right: 7.5rem
    }
}

@media(min-width:90rem) {
    .Flavors_container__RPvjD {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 3.75rem;
        padding-right: 3.75rem
    }
}

@media only screen and (min-width:90rem)and (max-width:60rem)and (orientation:landscape) {
    .Flavors_container__RPvjD {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(3.75rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(3.75rem + var(--safe-area-inset-right))
    }
}

@media(min-width:90rem)and (min-width:60rem) {
    .Flavors_container__RPvjD {
        padding-left: 7.5rem;
        padding-right: 7.5rem
    }
}

.Flavors_grid__WtK_I {
    display: grid;
    grid-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

@media(min-width:20rem) {
    .Flavors_grid__WtK_I {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
}

@media(min-width:40rem) {
    .Flavors_grid__WtK_I {
        padding: 0;
        grid-column-gap: 8.33%;
        -moz-column-gap: 8.33%;
        column-gap: 8.33%;
        grid-row-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media(min-width:60rem) {
    .Flavors_grid__WtK_I {
        grid-column-gap: 16.66%;
        -moz-column-gap: 16.66%;
        column-gap: 16.66%;
        grid-row-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media(min-width:80rem) {
    .Flavors_grid__WtK_I {
        padding: 0;
        grid-column-gap: 8.33%;
        -moz-column-gap: 8.33%;
        column-gap: 8.33%;
        grid-row-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

.Flavors_sliceTop__vWc7h {
    position: absolute;
    top: 7%;
    left: -5%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:80rem) {
    .Flavors_sliceTop__vWc7h {
        display: block
    }
}

.Flavors_sliceBottomOne__CwIha {
    position: absolute;
    bottom: -3%;
    right: -36%;
    transform: translateX(-90%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:80rem) {
    .Flavors_sliceBottomOne__CwIha {
        display: block
    }
}

@media(min-width:90rem) {
    .Flavors_sliceBottomOne__CwIha {
        right: -32%
    }
}

.Flavors_sliceBottomTwo__bJLlb {
    position: absolute;
    bottom: 2%;
    right: 30%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:80rem) {
    .Flavors_sliceBottomTwo__bJLlb {
        display: block
    }
}

.Flavors_sliceBottomThree__4vU0e {
    position: absolute;
    bottom: 10%;
    right: 15%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:80rem) {
    .Flavors_sliceBottomThree__4vU0e {
        display: block
    }
}

.Flavors_iframe__dUUHA {
    display: block;
    border: 0;
    min-height: auto
}

.Flavors_button__Slzu1 {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-larger);
    font-family: var(--font-body-medium);
    line-height: 1;
    white-space: nowrap;
    border-radius: 100px;
    background-color: var(--izze-black);
    color: var(--white);
    border: 2px solid var(--izze-black);
    transition: background-color .2s ease-out, color .2s ease-out, border-color .2s ease-out;
    padding: .65rem 1.5rem;
    margin: .25rem;
    min-width: 195px
}

@media(min-width:40rem) {
    .Flavors_button__Slzu1 {
        margin: .25rem .5rem
    }
}

.Flavors_button__Slzu1:link, .Flavors_button__Slzu1:visited {
    text-decoration: none
}

.Flavors_button__Slzu1:focus, .Flavors_button__Slzu1:hover {
    color: var(--izze-black);
    border-color: var(--izze-black);
    background-color: transparent
}

.Flavors_button__Slzu1.Flavors_outline__rybc2 {
    background-color: transparent;
    color: var(--izze-black);
    border: 2px solid var(--izze-black)
}

.Flavors_button__Slzu1.Flavors_outline__rybc2:focus, .Flavors_button__Slzu1.Flavors_outline__rybc2:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.Flavors_button__Slzu1.Flavors_smaller__FYuoF {
    font-size: var(--font-size-larger);
    padding: 1rem
}

@media(min-width:20rem) {
    .Flavors_button__Slzu1.Flavors_smaller__FYuoF {
        padding: .5rem 1.25rem
    }
}

.Flavors_button__Slzu1.Flavors_smallest__h5Oy_ {
    font-size: var(--font-size-normal);
    padding: 1rem
}

@media(min-width:20rem) {
    .Flavors_button__Slzu1.Flavors_smallest__h5Oy_ {
        padding: .5rem 1rem
    }
}

.Flavors_button__Slzu1.Flavors_white__tE7PB {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.Flavors_button__Slzu1.Flavors_white__tE7PB.Flavors_outline__rybc2 {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white)
}

.Flavors_button__Slzu1.Flavors_white__tE7PB.Flavors_outline__rybc2:focus, .Flavors_button__Slzu1.Flavors_white__tE7PB.Flavors_outline__rybc2:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.Flavors_button__Slzu1.Flavors_flavorsHero__B6b6N {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.Flavors_button__Slzu1.Flavors_flavorsHero__B6b6N.Flavors_outline__rybc2 {
    background-color: transparent;
    color: #3e0e2b;
    border: 2px solid var(--white)
}

.Flavors_button__Slzu1.Flavors_flavorsHero__B6b6N.Flavors_outline__rybc2:focus, .Flavors_button__Slzu1.Flavors_flavorsHero__B6b6N.Flavors_outline__rybc2:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.Flavors_button__Slzu1.Flavors_flavorHeroShop__USVKz {
    background-color: var(--white);
    border: 2px solid var(--white)
}

.Flavors_button__Slzu1.Flavors_flavorHeroShop__USVKz:focus, .Flavors_button__Slzu1.Flavors_flavorHeroShop__USVKz:hover {
    background-color: transparent
}

.Flavors_button__Slzu1.Flavors_flavorHero__WMUDj {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--hero-button-text)
}

.Flavors_button__Slzu1.Flavors_flavorHero__WMUDj:focus, .Flavors_button__Slzu1.Flavors_flavorHero__WMUDj:hover {
    color: var(--hero-button-text-hover);
    background-color: var(--white)
}

.Flavors_button__Slzu1.Flavors_fill404__X_Bnq {
    color: var(--photo-blue-dark)
}

.Flavors_button__Slzu1.Flavors_fill404__X_Bnq:focus, .Flavors_button__Slzu1.Flavors_fill404__X_Bnq:hover {
    background-color: transparent;
    color: var(--white)
}

@media(min-width:40rem) {
    .Flavors_button__Slzu1 {
        min-width: auto
    }
}

.Flavors_buttonWrapper__1z0bl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

@media(min-width:40rem) {
    .Flavors_buttonWrapper__1z0bl {
        flex-wrap: nowrap;
        justify-content: flex-start
    }
}

.Flavors_image__XjtOY {
    width: 100%
}

.Flavors_image__XjtOY .Flavors_imageContainer__m8f2B {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .Flavors_image__XjtOY .Flavors_imageContainer__m8f2B {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .Flavors_image__XjtOY .Flavors_imageContainer__m8f2B {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media(min-width:40rem) {
    .Flavors_image__XjtOY .Flavors_imageContainer__m8f2B {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:40rem)and (max-width:60rem)and (orientation:landscape) {
    .Flavors_image__XjtOY .Flavors_imageContainer__m8f2B {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:40rem)and (min-width:60rem) {
    .Flavors_image__XjtOY .Flavors_imageContainer__m8f2B {
        padding-left: 3rem;
        padding-right: 3rem
    }
}