.text_text__jYg6z {
    width: 100%;
    margin: var(--spacing-section) 0;
    text-align: center
}

.text_text__jYg6z h2 {
    width: 100%;
    max-width: 24ch;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px
}

@media(min-width:40rem) {
    .text_text__jYg6z h2 {
        white-space: nowrap;
        letter-spacing: 3px
    }
}

.text_text__jYg6z p {
    font-size: var(--font-size-largest);
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto
}

.text_container__DL5YF {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .text_container__DL5YF {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .text_container__DL5YF {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media(min-width:40rem) {
    .text_container__DL5YF {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:40rem)and (max-width:60rem)and (orientation:landscape) {
    .text_container__DL5YF {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:40rem)and (min-width:60rem) {
    .text_container__DL5YF {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.parallaxImage_image__vAUiq {
    position: relative;
    width: 60%
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq {
        width: 100%
    }
}

.parallaxImage_image__vAUiq:first-child {
    z-index: 0;
    display: none
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:first-child {
        display: block
    }
}

.parallaxImage_image__vAUiq:nth-child(2) {
    transform: translate(-10%, 20%);
    z-index: 1;
    display: none
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(2) {
        display: block
    }
}

.parallaxImage_image__vAUiq:nth-child(3) {
    z-index: 0
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(3) {
        transform: translate(-20%)
    }
}

.parallaxImage_image__vAUiq:nth-child(4) {
    z-index: 1;
    align-self: flex-end;
    transform: translateY(-30%)
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(4) {
        transform: translate(-30%, 20%);
        align-self: unset
    }
}

.parallaxImage_image__vAUiq:nth-child(5) {
    z-index: 2;
    transform: translateY(-50%)
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(5) {
        z-index: 0;
        transform: translate(-40%)
    }
}

.social_social__C7RVg {
    width: 100%;
    margin-bottom: calc(var(--spacing-section)*1.5)
}

.social_container__f95aI {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: calc(var(--spacing-section)*-1)
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .social_container__f95aI {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(0rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(0rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .social_container__f95aI {
        padding-left: 0;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:60rem)and (max-width:60rem)and (orientation:landscape) {
    .social_container__f95aI {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem)and (min-width:60rem) {
    .social_container__f95aI {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.social_items__yO9i2 {
    margin-top: 1rem
}

.social_items__yO9i2 li {
    margin: 0 .5rem;
    display: inline-block
}

.social_items__yO9i2 a:link svg, .social_items__yO9i2 a:visited svg {
    fill: var(--izze-black)
}

.social_items__yO9i2 a:focus svg, .social_items__yO9i2 a:hover svg {
    fill: var(--purple)
}

.social_images__wQCxt {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -130px
}

@media(min-width:60rem) {
    .social_images__wQCxt {
        margin-bottom: 0;
        flex-direction: row;
        transform: translate(5%)
    }
}

.layout_main__4J_cK {
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.bubbles_container__I10SR {
    width: 100%;
    height: 12.222222vw
}

.Locator_locator__JXlrB {
    width: 100%;
    padding: var(--spacing-section) 0 0;
    overflow: hidden;
    position: relative
}

.Locator_locator__JXlrB.Locator_shopNow__NXUoh {
    background-color: var(--photo-blue)
}

.Locator_locator__JXlrB.Locator_storeLocator__hoSCG {
    background-color: var(--photo-green)
}

.Locator_container__hnZKJ {
    position: relative;
    z-index: 5;
    margin: calc(var(--spacing-section)/2) 0 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .Locator_container__hnZKJ {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .Locator_container__hnZKJ {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 0
    }
}

@media only screen and (min-width:60rem)and (max-width:60rem)and (orientation:landscape) {
    .Locator_container__hnZKJ {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem)and (min-width:60rem) {
    .Locator_container__hnZKJ {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.Locator_container__hnZKJ h1 {
    width: 100%;
    max-width: 20ch;
    margin-inline: auto
}

.Locator_image__T3gMQ {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%
}

.Locator_image__T3gMQ>div, .Locator_image__T3gMQ>div>div {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.Locator_frameContainer__Ins7U {
    position: relative;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    z-index: 5;
    margin: 2rem auto 0;
    --safe-area-inset-right: env(safe-area-inset-right);
    padding-right: calc(3rem + var(--safe-area-inset-right));
    --safe-area-inset-left: env(safe-area-inset-left);
    padding-left: calc(3rem + var(--safe-area-inset-left))
}

@media(min-width:40rem) {
    .Locator_frameContainer__Ins7U {
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right));
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        height: 100vh
    }
}

@media(min-width:60rem) {
    .Locator_frameContainer__Ins7U {
        padding: 0 3rem
    }
}

.Locator_frameContainer__Ins7U iframe {
    display: block;
    border-radius: var(--border-radius);
    border: 0;
    min-height: 1000px
}

@media(min-width:40rem) {
    .Locator_frameContainer__Ins7U iframe {
        min-height: auto
    }
}

@media(min-width:60rem) {
    .Locator_frameContainer__Ins7U iframe {
        min-height: auto
    }
}