.text_text__jYg6z {
    width: 100%;
    /* margin: var(--spacing-section) 0; */
    text-align: center
}

.text_text__jYg6z h2 {
    width: 100%;
    max-width: 24ch;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px
}

@media(min-width:40rem) {
    .text_text__jYg6z h2 {
        white-space: nowrap;
        letter-spacing: 3px
    }
}

.text_text__jYg6z p {
    font-size: var(--font-size-largest);
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto
}

.text_container__DL5YF {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .text_container__DL5YF {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .text_container__DL5YF {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media(min-width:40rem) {
    .text_container__DL5YF {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:40rem)and (max-width:60rem)and (orientation:landscape) {
    .text_container__DL5YF {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:40rem)and (min-width:60rem) {
    .text_container__DL5YF {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.parallaxImage_image__vAUiq {
    position: relative;
    width: 60%
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq {
        width: 100%
    }
}

.parallaxImage_image__vAUiq:first-child {
    z-index: 0;
    display: none
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:first-child {
        display: block
    }
}

.parallaxImage_image__vAUiq:nth-child(2) {
    transform: translate(-10%, 20%);
    z-index: 1;
    display: none
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(2) {
        display: block
    }
}

.parallaxImage_image__vAUiq:nth-child(3) {
    z-index: 0
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(3) {
        transform: translate(-20%)
    }
}

.parallaxImage_image__vAUiq:nth-child(4) {
    z-index: 1;
    align-self: flex-end;
    transform: translateY(-30%)
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(4) {
        transform: translate(-30%, 20%);
        align-self: unset
    }
}

.parallaxImage_image__vAUiq:nth-child(5) {
    z-index: 2;
    transform: translateY(-50%)
}

@media(min-width:60rem) {
    .parallaxImage_image__vAUiq:nth-child(5) {
        z-index: 0;
        transform: translate(-40%)
    }
}

.social_social__C7RVg {
    width: 100%;
    margin-bottom: calc(var(--spacing-section)*1.5)
}

.social_container__f95aI {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: calc(var(--spacing-section)*-1)
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .social_container__f95aI {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(0rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(0rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .social_container__f95aI {
        padding-left: 0;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:60rem)and (max-width:60rem)and (orientation:landscape) {
    .social_container__f95aI {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem)and (min-width:60rem) {
    .social_container__f95aI {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.social_items__yO9i2 {
    margin-top: 1rem
}

.social_items__yO9i2 li {
    margin: 0 .5rem;
    display: inline-block
}

.social_items__yO9i2 a:link svg, .social_items__yO9i2 a:visited svg {
    fill: var(--izze-black)
}

.social_items__yO9i2 a:focus svg, .social_items__yO9i2 a:hover svg {
    fill: var(--purple)
}

.social_images__wQCxt {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -130px
}

@media(min-width:60rem) {
    .social_images__wQCxt {
        margin-bottom: 0;
        flex-direction: row;
        transform: translate(5%)
    }
}

.layout_main__4J_cK {
    width: 100%;
    min-height: 75vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.button_button__FoWD6 {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-larger);
    font-family: var(--font-body-medium);
    line-height: 1;
    white-space: nowrap;
    border-radius: 100px;
    background-color: var(--izze-black);
    color: var(--white);
    border: 2px solid var(--izze-black);
    transition: background-color .2s ease-out, color .2s ease-out, border-color .2s ease-out;
    padding: .65rem 1.5rem;
    margin: .25rem;
    justify-content: center;
    min-width: 175px
}

@media(min-width:40rem) {
    .button_button__FoWD6 {
        margin: .25rem .5rem
    }
}

.button_button__FoWD6:link, .button_button__FoWD6:visited {
    text-decoration: none
}

.button_button__FoWD6:focus, .button_button__FoWD6:hover {
    color: var(--izze-black);
    border-color: var(--izze-black);
    background-color: transparent
}

.button_button__FoWD6.button_outline__IbSmv {
    background-color: transparent;
    color: var(--izze-black);
    border: 2px solid var(--izze-black)
}

.button_button__FoWD6.button_outline__IbSmv:focus, .button_button__FoWD6.button_outline__IbSmv:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.button_button__FoWD6.button_smaller__UnK54 {
    font-size: var(--font-size-larger);
    padding: 1rem
}

@media(min-width:20rem) {
    .button_button__FoWD6.button_smaller__UnK54 {
        padding: .5rem 1.25rem
    }
}

.button_button__FoWD6.button_smallest__gjnD5 {
    font-size: var(--font-size-normal);
    padding: 1rem
}

@media(min-width:20rem) {
    .button_button__FoWD6.button_smallest__gjnD5 {
        padding: .5rem 1rem
    }
}

.button_button__FoWD6.button_white__vSSZf {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_white__vSSZf.button_outline__IbSmv {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_white__vSSZf.button_outline__IbSmv:focus, .button_button__FoWD6.button_white__vSSZf.button_outline__IbSmv:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.button_button__FoWD6.button_flavorsHero__RiI_a {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_flavorsHero__RiI_a.button_outline__IbSmv {
    background-color: transparent;
    color: #3e0e2b;
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_flavorsHero__RiI_a.button_outline__IbSmv:focus, .button_button__FoWD6.button_flavorsHero__RiI_a.button_outline__IbSmv:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.button_button__FoWD6.button_flavorHeroShop__0lWfJ {
    background-color: var(--white);
    border: 2px solid var(--white)
}

.button_button__FoWD6.button_flavorHeroShop__0lWfJ:focus, .button_button__FoWD6.button_flavorHeroShop__0lWfJ:hover {
    background-color: transparent
}

.button_button__FoWD6.button_flavorHero__fhtzX {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--hero-button-text)
}

.button_button__FoWD6.button_flavorHero__fhtzX:focus, .button_button__FoWD6.button_flavorHero__fhtzX:hover {
    color: var(--hero-button-text-hover);
    background-color: var(--white)
}

.button_button__FoWD6.button_fill404__KeH5K {
    color: var(--photo-blue-dark)
}

.button_button__FoWD6.button_fill404__KeH5K:focus, .button_button__FoWD6.button_fill404__KeH5K:hover {
    background-color: transparent;
    color: var(--white)
}

.picture_picture__VABen {
    display: block
}

.picture_image__VzIrU {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    -o-object-fit: cover;
    object-fit: cover
}

.picture_image__VzIrU.picture_loading__oma62 {
    opacity: 0;
    transition: opacity .16s ease
}

.picture_image__VzIrU.picture_loaded__uavL9 {
    opacity: 1
}

.portalDesktop_portal__h9DBs {
    position: relative;
    width: 100%;
    height: 1600px
}

.portalDesktop_container__2dUIC {
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(24, 1fr)
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .portalDesktop_container__2dUIC {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(2rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(2rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .portalDesktop_container__2dUIC {
        padding-left: 4rem;
        padding-right: 4rem
    }
}

.portalDesktop_fixedContainer__P6vI5 {
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
    width: 100%;
    height: 100vh
}

.portalDesktop_fixedContainer__P6vI5.portalDesktop_unfix__dng5x {
    position: absolute;
    top: unset;
    bottom: 0
}

.portalDesktop_content__x2AsK {
    width: 100%;
    z-index: 1;
    grid-column: 1/13
}

.portalDesktop_content__x2AsK .h1, .portalDesktop_content__x2AsK h1 {
    white-space: nowrap;
    margin: 0;
    display: inline-block;
    line-height: .8;
    transform: translateY(-1.75rem)
}

.portalDesktop_outline__d5vXE {
    display: inline-block;
    -webkit-text-stroke: 2px var(--izze-black);
    text-stroke: 2px var(--izze-black);
    color: transparent;
    position: relative;
    top: .2em
}

.portalDesktop_bottomLayer__6HFdv {
    width: 100%;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: grid;
    place-items: center;
    background: #c50108;
    color: var(--white)
}

.portalDesktop_bottomLayer__6HFdv .portalDesktop_outline__d5vXE {
    -webkit-text-stroke: 2px var(--white);
    text-stroke: 2px var(--white)
}

.portalDesktop_bottomLayer__6HFdv img, .portalDesktop_bottomLayer__6HFdv video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
    height: 100%;
    width: 100%
}

.portalDesktop_topLayer__wm0Sg {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #fdb6c4;
    display: grid;
    place-items: center
}

.portalDesktop_topLayer__wm0Sg .portalDesktop_offset__SnGd1 {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: grid
}

.portalDesktop_topLayer__wm0Sg.portalDesktop_disabled__ok5gv {
    pointer-events: none;
}

.portalDesktop_topLayer__wm0Sg>div {
    position: absolute;
    width: 100vw;
    display: grid;
    place-items: center;
    height: 100%
}

.portalDesktop_cta__P0M2d {
    margin-top: -2rem;
    margin-left: -.5rem
}

.portalDesktop_backgroundImage__vTCOo {
    z-index: 0;
    width: 100vw;
    max-width: 1440px;
    height: 100%;
    position: absolute;
    right: 0
}

@media(min-width:90rem) {
    .portalDesktop_backgroundImage__vTCOo {
        max-width: 1920px
    }
}

.portalDesktop_backgroundImage__vTCOo>div {
    width: 100%;
    height: 100%
}

.portalDesktop_topLayer__wm0Sg img {
    position: absolute;
    width: 100%;
    height: auto;
    display: block
}

.portalMobile_portal__FoW0S {
    text-align: center;
    width: 100%;
    /* background: #fdb6c4; */
    /* padding: calc(var(--spacing-section)*1.75) 0 var(--spacing-section) */
    /* padding: calc(var(--spacing-section)*0.75) 0 var(--spacing-section) */
    padding-top: 66px;
}

.portalMobile_portal__FoW0S .h1, .portalMobile_portal__FoW0S h1 {
    font-size: calc(var(--font-size-h1)*1.1);
    white-space: nowrap;
    margin: 0;
    display: inline-block;
    line-height: .8
}

.portalMobile_inlineBlock__SMKun {
    display: inline-block;
    margin-top: -10%
}

.portalMobile_container__5kRjL {
    order: 2;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 2rem;
    padding-right: 2rem
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .portalMobile_container__5kRjL {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(2rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(2rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .portalMobile_container__5kRjL {
        padding-left: 4rem;
        padding-right: 4rem
    }
}

.portalMobile_image__pdosX {
    width: 100%
}

.portalMobile_cta__VOKn5 {
    margin-left: -.5rem
}

.bubbles_container__I10SR {
    width: 100%;
    /* height: 12.222222vw */
}

.featuredFlavors_featuredFlavors__gSuTa {
    position: relative;
    width: 100%;
    margin: calc(var(--spacing-section)*.25) 0
}

.featuredFlavors_featured__N958X {
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: var(--spacing-section) 0
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .featuredFlavors_featured__N958X {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .featuredFlavors_featured__N958X {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media(min-width:40rem) {
    .featuredFlavors_featured__N958X {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:40rem)and (max-width:60rem)and (orientation:landscape) {
    .featuredFlavors_featured__N958X {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:40rem)and (min-width:60rem) {
    .featuredFlavors_featured__N958X {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

@media(min-width:90rem) {
    .featuredFlavors_featured__N958X {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 3rem;
        padding-right: 3rem
    }
}

@media only screen and (min-width:90rem)and (max-width:60rem)and (orientation:landscape) {
    .featuredFlavors_featured__N958X {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(3rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(3rem + var(--safe-area-inset-right))
    }
}

@media(min-width:90rem)and (min-width:60rem) {
    .featuredFlavors_featured__N958X {
        padding-left: 6rem;
        padding-right: 6rem
    }
}

.featuredFlavors_grid__vNFWR {
    display: grid;
    grid-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr
}

@media(min-width:40rem) {
    .featuredFlavors_grid__vNFWR {
        grid-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
        grid-row-gap: 3rem;
        row-gap: 3rem;
        grid-template-columns: repeat(3, 1fr)
    }
}

.featuredFlavors_flavor__ReIOo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4rem
}

@media(min-width:40rem) {
    .featuredFlavors_flavor__ReIOo {
        margin-bottom: calc(var(--spacing-section)*.1)
    }
}

.featuredFlavors_flavor__ReIOo.featuredFlavors_first__snuWV {
    justify-content: flex-end
}

.featuredFlavors_flavor__ReIOo.featuredFlavors_first__snuWV h2 {
    right: 20%;
    left: auto
}

@media(min-width:40rem) {
    .featuredFlavors_flavor__ReIOo.featuredFlavors_first__snuWV {
        justify-content: flex-start
    }

    .featuredFlavors_flavor__ReIOo.featuredFlavors_first__snuWV h2 {
        text-align: left;
        bottom: 16.5%;
        transform: translateX(96%)
    }
}

.featuredFlavors_flavor__ReIOo.featuredFlavors_first__snuWV .featuredFlavors_circle__34GXx {
    top: 1%;
    right: -4%
}

.featuredFlavors_flavor__ReIOo.featuredFlavors_second__sLt7e {
    justify-content: flex-start
}

@media(min-width:40rem) {
    .featuredFlavors_flavor__ReIOo.featuredFlavors_second__sLt7e {
        justify-content: flex-end
    }

    .featuredFlavors_flavor__ReIOo.featuredFlavors_second__sLt7e h2 {
        bottom: 16.5%;
        transform: translateX(-78%)
    }
}

.featuredFlavors_flavor__ReIOo.featuredFlavors_second__sLt7e .featuredFlavors_circle__34GXx {
    top: 0;
    left: 0
}

.featuredFlavors_flavor__ReIOo.featuredFlavors_third__cRHTD {
    justify-content: flex-end
}

.featuredFlavors_flavor__ReIOo.featuredFlavors_third__cRHTD h2 {
    right: 0;
    left: auto
}

@media(min-width:40rem) {
    .featuredFlavors_flavor__ReIOo.featuredFlavors_third__cRHTD {
        justify-content: flex-start
    }

    .featuredFlavors_flavor__ReIOo.featuredFlavors_third__cRHTD h2 {
        bottom: 16.5%;
        transform: translateX(80%)
    }
}

.featuredFlavors_flavor__ReIOo.featuredFlavors_third__cRHTD .featuredFlavors_circle__34GXx {
    top: 0;
    right: 2%
}

.featuredFlavors_preview__URBCc h2 {
    z-index: 5;
    position: absolute;
    bottom: -2rem;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-headline);
    font-family: serif;
    font-size: 70px;
    font-weight: 600;
    /* font-size: calc(var(--font-size-h1)) */
}

@media(min-width:40rem) {
    .featuredFlavors_preview__URBCc h2 {
        z-index: 5;
        position: absolute;
        bottom: auto;
        margin-top: 0;
        margin-bottom: 1.5rem
    }
}

.featuredFlavors_preview__URBCc:link, .featuredFlavors_preview__URBCc:visited {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%
}

@media(min-width:40rem) {
    .featuredFlavors_preview__URBCc:link, .featuredFlavors_preview__URBCc:visited {
        width: 40%
    }
}

@media(any-hover:hover)and (any-pointer:fine) {
    .featuredFlavors_preview__URBCc:link .featuredFlavors_circle__34GXx, .featuredFlavors_preview__URBCc:link .featuredFlavors_productImage__23l2R, .featuredFlavors_preview__URBCc:visited .featuredFlavors_circle__34GXx, .featuredFlavors_preview__URBCc:visited .featuredFlavors_productImage__23l2R {
        transform: scale(.96);
        will-change: transform;
        transition: transform 1s ease-out .16s
    }

    .featuredFlavors_preview__URBCc:link .featuredFlavors_hoverImage__0w_Mt, .featuredFlavors_preview__URBCc:visited .featuredFlavors_hoverImage__0w_Mt {
        will-change: transform;
        transform: scale(1);
        transition: transform 1s ease-out .16s, opacity 1s ease-out .16s
    }

    .featuredFlavors_preview__URBCc:active .featuredFlavors_productImage__23l2R, .featuredFlavors_preview__URBCc:focus .featuredFlavors_productImage__23l2R, .featuredFlavors_preview__URBCc:hover .featuredFlavors_productImage__23l2R {
        transition: transform .6s ease-out 80ms;
        transform: scale(1)
    }

    .featuredFlavors_preview__URBCc:active .featuredFlavors_circle__34GXx, .featuredFlavors_preview__URBCc:focus .featuredFlavors_circle__34GXx, .featuredFlavors_preview__URBCc:hover .featuredFlavors_circle__34GXx {
        transform: scale(1.01);
        transition: transform .6s ease-out 80ms
    }

    .featuredFlavors_preview__URBCc:active .featuredFlavors_hoverImage__0w_Mt, .featuredFlavors_preview__URBCc:focus .featuredFlavors_hoverImage__0w_Mt, .featuredFlavors_preview__URBCc:hover .featuredFlavors_hoverImage__0w_Mt {
        transform: scale(1.04);
        opacity: 1;
        transition: transform .6s ease-out 80ms, opacity .3s ease-out 80ms
    }
}

.featuredFlavors_image__kZWg9 {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px
}

.featuredFlavors_circle__34GXx {
    position: absolute;
    z-index: 0;
    width: 95%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden
}

.featuredFlavors_hoverImage__0w_Mt {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.featuredFlavors_content__12wqa {
    transform: translateY(-2rem);
    padding: 0 2rem
}

.featuredFlavors_button__zeZVH {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-larger);
    font-family: var(--font-body-medium);
    line-height: 1;
    white-space: nowrap;
    border-radius: 100px;
    background-color: var(--izze-black);
    color: var(--white);
    border: 2px solid var(--izze-black);
    transition: background-color .2s ease-out, color .2s ease-out, border-color .2s ease-out;
    padding: .65rem 1.5rem;
    margin: .25rem
}

@media(min-width:40rem) {
    .featuredFlavors_button__zeZVH {
        margin: .25rem .5rem
    }
}

.featuredFlavors_button__zeZVH:link, .featuredFlavors_button__zeZVH:visited {
    text-decoration: none
}

.featuredFlavors_button__zeZVH:focus, .featuredFlavors_button__zeZVH:hover {
    color: var(--izze-black);
    border-color: var(--izze-black);
    background-color: transparent
}

.featuredFlavors_button__zeZVH.featuredFlavors_outline__bqlbA {
    background-color: transparent;
    color: var(--izze-black);
    border: 2px solid var(--izze-black)
}

.featuredFlavors_button__zeZVH.featuredFlavors_outline__bqlbA:focus, .featuredFlavors_button__zeZVH.featuredFlavors_outline__bqlbA:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.featuredFlavors_button__zeZVH.featuredFlavors_smaller__0OpAt {
    font-size: var(--font-size-larger);
    padding: 1rem
}

@media(min-width:20rem) {
    .featuredFlavors_button__zeZVH.featuredFlavors_smaller__0OpAt {
        padding: .5rem 1.25rem
    }
}

.featuredFlavors_button__zeZVH.featuredFlavors_smallest__BuPb7 {
    font-size: var(--font-size-normal);
    padding: 1rem
}

@media(min-width:20rem) {
    .featuredFlavors_button__zeZVH.featuredFlavors_smallest__BuPb7 {
        padding: .5rem 1rem
    }
}

.featuredFlavors_button__zeZVH.featuredFlavors_white__3DlrF {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.featuredFlavors_button__zeZVH.featuredFlavors_white__3DlrF.featuredFlavors_outline__bqlbA {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white)
}

.featuredFlavors_button__zeZVH.featuredFlavors_white__3DlrF.featuredFlavors_outline__bqlbA:focus, .featuredFlavors_button__zeZVH.featuredFlavors_white__3DlrF.featuredFlavors_outline__bqlbA:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.featuredFlavors_button__zeZVH.featuredFlavors_flavorsHero__qJYtG {
    background-color: var(--white);
    color: var(--izze-black);
    border: 2px solid var(--white)
}

.featuredFlavors_button__zeZVH.featuredFlavors_flavorsHero__qJYtG.featuredFlavors_outline__bqlbA {
    background-color: transparent;
    color: #3e0e2b;
    border: 2px solid var(--white)
}

.featuredFlavors_button__zeZVH.featuredFlavors_flavorsHero__qJYtG.featuredFlavors_outline__bqlbA:focus, .featuredFlavors_button__zeZVH.featuredFlavors_flavorsHero__qJYtG.featuredFlavors_outline__bqlbA:hover {
    color: var(--white);
    background-color: var(--izze-black)
}

.featuredFlavors_button__zeZVH.featuredFlavors_flavorHeroShop__N_mP_ {
    background-color: var(--white);
    border: 2px solid var(--white)
}

.featuredFlavors_button__zeZVH.featuredFlavors_flavorHeroShop__N_mP_:focus, .featuredFlavors_button__zeZVH.featuredFlavors_flavorHeroShop__N_mP_:hover {
    background-color: transparent
}

.featuredFlavors_button__zeZVH.featuredFlavors_flavorHero__rgbCo {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--hero-button-text)
}

.featuredFlavors_button__zeZVH.featuredFlavors_flavorHero__rgbCo:focus, .featuredFlavors_button__zeZVH.featuredFlavors_flavorHero__rgbCo:hover {
    color: var(--hero-button-text-hover);
    background-color: var(--white)
}

.featuredFlavors_button__zeZVH.featuredFlavors_fill404__Lbzjo {
    color: var(--photo-blue-dark)
}

.featuredFlavors_button__zeZVH.featuredFlavors_fill404__Lbzjo:focus, .featuredFlavors_button__zeZVH.featuredFlavors_fill404__Lbzjo:hover {
    background-color: transparent;
    color: var(--white)
}

.featuredFlavors_colorApple__Et434 {
    color: #2f9ec5;
}

.featuredFlavors_colorBlackberry___dert {
    color: var(--sparkling-blackberry);
    color: #8a1c37;
}

.featuredFlavors_colorClementine__eDJqy {
    /* color: #dd7a08; */
    color: #e66d90;
}

.featuredFlavors_sliceFirstOne__eHQWU {
    position: absolute;
    top: 13%;
    right: 13%;
    transform: translateX(0) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceFirstOne__eHQWU {
        display: block
    }
}

.featuredFlavors_sliceFirstTwo__R2J7D {
    position: absolute;
    top: 38%;
    right: -4%;
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceFirstTwo__R2J7D {
        display: block
    }
}

.featuredFlavors_sliceFirstThree__epJ_B {
    position: absolute;
    top: 45%;
    right: 15%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceFirstThree__epJ_B {
        display: block
    }
}

.featuredFlavors_sliceSecondOne__Uptxl {
    position: absolute;
    top: 16%;
    left: -3%;
    transform: translateX(0) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceSecondOne__Uptxl {
        display: block
    }
}

.featuredFlavors_sliceSecondTwo__kb6gD {
    position: absolute;
    top: 25%;
    left: 6%;
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceSecondTwo__kb6gD {
        display: block
    }
}

.featuredFlavors_sliceSecondThree__xLsLq {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceSecondThree__xLsLq {
        display: block
    }
}

.featuredFlavors_sliceThirdOne__OR4sV {
    position: absolute;
    top: 45%;
    right: -17%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceThirdOne__OR4sV {
        display: block
    }
}

.featuredFlavors_sliceThirdTwo__jgYUy {
    position: absolute;
    top: 20%;
    right: -9%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceThirdTwo__jgYUy {
        display: block
    }
}

.featuredFlavors_sliceThirdThree__kAD4n {
    position: absolute;
    top: 43%;
    right: 25%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:40rem) {
    .featuredFlavors_sliceThirdThree__kAD4n {
        display: block
    }
}

.marquee_marquee____KbK {
    width: 100%;
    padding: 1rem 0;
    position: relative
}

.marquee_item__wGhOU {
    display: flex;
    align-items: center
}

.marquee_text__S5gYf {
    color: #fff;
    font-family: var(--font-headline);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 3px
}

@media(min-width:60rem) {
    .marquee_text__S5gYf {
        font-size: 4rem
    }
}

.marquee_icon__B4j_F {
    height: auto;
    display: block;
    margin: 0 1.25rem;
    width: 32px;
    height: 32px
}

@media(min-width:60rem) {
    .marquee_icon__B4j_F {
        width: 45px;
        height: 45px
    }
}

.marquee_blocker__j7p0Y {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

.fizzyFruit_circle__a3HgY {
    z-index: 0;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    position: relative
}

.fizzyFruit_hasSlice__My5pK {
    display: flex;
    justify-content: center;
    align-items: center
}

.fizzyFruit_image__eqpP2 {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.fizzyFruit_slice__cxdj9 {
    z-index: 10;
    position: absolute;
    width: 200px
}

.interstitial_interstitial__676N1 {
    overflow: hidden;
    position: relative;
    width: 100%;
    aspect-ratio: 15/9;
    display: grid;
    place-items: center;
    /* background-color: var(--dark-peach); */
    background-color: #ffabab;
}

.interstitial_container__Uq9_G {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .interstitial_container__Uq9_G {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .interstitial_container__Uq9_G {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media(min-width:40rem) {
    .interstitial_container__Uq9_G {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:40rem)and (max-width:60rem)and (orientation:landscape) {
    .interstitial_container__Uq9_G {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:40rem)and (min-width:60rem) {
    .interstitial_container__Uq9_G {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.interstitial_slice__2p63s {
    z-index: 10;
    position: absolute
}

.interstitial_slice__2p63s.interstitial_one__EPJk_ {
    transform: translate(383%, -123%)
}

.interstitial_slice__2p63s.interstitial_two__KTiem {
    transform: translate(176%, 110%)
}

.interstitial_slice__2p63s.interstitial_three__Xzrl8 {
    transform: translate(-123%, -152%)
}

.interstitial_slice__2p63s.interstitial_four__Tgh6f {
    transform: translate(-159%, -177%)
}

.interstitial_slice__2p63s.interstitial_five__mgdP8 {
    transform: translate(-237.25%, -78%)
}

.interstitial_slice__2p63s.interstitial_six__Zg_pV {
    transform: translate(201%, -106%)
}

.interstitial_slice__2p63s.interstitial_seven__JoLMv {
    transform: translate(-106%, 490%)
}

.interstitial_slice__2p63s.interstitial_eight__pIltz {
    transform: translate(-545%, 90%)
}

.interstitial_textPath__Qp_y4 {
    z-index: 20;
    position: absolute;
    width: 23%;
    max-width: 340px;
    color: var(--white)
}

.interstitial_textPath__Qp_y4 svg {
    display: block
}

@media(prefers-reduced-motion:no-preference) {
    .interstitial_textPath__Qp_y4 svg {
        -webkit-animation: interstitial_rotation__tcrb5 50s linear 0s infinite normal none running;
        animation: interstitial_rotation__tcrb5 50s linear 0s infinite normal none running;
        transform-origin: center center
    }
}

.interstitial_textPath__Qp_y4.interstitial_one__EPJk_ {
    transform: translate(77%, -14%)
}

.interstitial_textPath__Qp_y4.interstitial_two__KTiem {
    transform: translate(-145%, 144%)
}

@-webkit-keyframes interstitial_rotation__tcrb5 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-359deg)
    }
}

@keyframes interstitial_rotation__tcrb5 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-359deg)
    }
}

.interstitial_fizzyFruit__Eff0I {
    position: absolute;
    width: 25%;
    max-width: 360px
}

.interstitial_fizzyFruit__Eff0I.interstitial_one__EPJk_ {
    width: 10.5%;
    max-width: 150px;
    transform: translate(317%, -290%)
}

.interstitial_fizzyFruit__Eff0I.interstitial_two__KTiem {
    width: 32%;
    max-width: 460px;
    transform: translate(133%, 83%)
}

.interstitial_fizzyFruit__Eff0I.interstitial_three__Xzrl8 {
    width: 12%;
    max-width: 175px;
    transform: translate(77%, 177%)
}

.interstitial_fizzyFruit__Eff0I.interstitial_four__Tgh6f {
    width: 18%;
    max-width: 260px;
    transform: translate(-80%, 52%)
}

.interstitial_fizzyFruit__Eff0I.interstitial_five__mgdP8 {
    width: 26%;
    max-width: 364px;
    transform: translate(-183%, -60%)
}

.fizzFoundations_fizzFoundations__IdiMt {
    --fizz-foundations-bg: #298bbe;
    --fizz-foundations-yellow: #012b4b;
    --fizz-foundations-button-text: #013f6f;
    --fizz-foundations-button-bg: #38b3ec;
    position: relative;
    width: 100%;
    background-color: var(--fizz-foundations-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.fizzFoundations_fizzFoundations__IdiMt h2 {
    color: var(--fizz-foundations-yellow);
    font-size: var(--font-size-larger);
    font-weight: var(--font-bold);
    margin-bottom: 3.15rem;
    text-align: center
}

@media(min-width:40rem) {
    .fizzFoundations_fizzFoundations__IdiMt h2 {
        font-size: var(--font-size-h4)
    }
}

.fizzFoundations_fizzFoundations__IdiMt p {
    color: var(--white);
    font-size: calc(var(--font-size-larger)*.95);
    line-height: 180%;
    text-align: center;
    position: relative;
    z-index: 1000
}

@media(min-width:40rem) {
    .fizzFoundations_fizzFoundations__IdiMt p {
        font-size: var(--font-size-h3);
        margin-bottom: 3.125rem
    }
}

.fizzFoundations_fizzFoundations__IdiMt .fizzFoundations_readMoreText__VZRNP p {
    font-size: var(--font-size-normal);
    color: var(--white);
    max-width: 45ch
}

@media(min-width:40rem) {
    .fizzFoundations_fizzFoundations__IdiMt .fizzFoundations_readMoreText__VZRNP p {
        font-size: var(--font-size-largest)
    }
}

.fizzFoundations_content__P6PJN {
    margin-bottom: -6.25rem
}

@media(min-width:60rem) {
    .fizzFoundations_content__P6PJN {
        margin-bottom: -7.8125rem
    }
}

.fizzFoundations_content__P6PJN p {
    z-index: 5;
    margin-bottom: 3rem
}

@media(min-width:40rem) {
    .fizzFoundations_content__P6PJN p {
        margin-bottom: 3.5rem
    }
}

.fizzFoundations_layer__LQC8W {
    position: relative;
    z-index: 20
}

.fizzFoundations_break__8NBSK {
    display: none
}

@media(min-width:60rem) {
    .fizzFoundations_break__8NBSK {
        display: block
    }
}

.fizzFoundations_breakXs__tJr47 {
    display: block
}

@media(min-width:60rem) {
    .fizzFoundations_breakXs__tJr47 {
        display: none
    }
}

.fizzFoundations_emojiWrapper__0X4uB {
    position: relative
}

.fizzFoundations_emojiHover__MF1Fu {
    font-size: calc(var(--font-size-larger)*1.5);
    font-family: var(--font-headline-secondary);
    text-transform: uppercase;
    font-weight: var(--font-bold);
    z-index: 0;
    display: inline-block
}

@media(min-width:40rem) {
    .fizzFoundations_emojiHover__MF1Fu {
        font-size: 3.5rem
    }
}

@media(any-hover:hover)and (any-pointer:fine) {
    .fizzFoundations_emojiHover__MF1Fu:active .fizzFoundations_img__lEoOp, .fizzFoundations_emojiHover__MF1Fu:focus .fizzFoundations_img__lEoOp, .fizzFoundations_emojiHover__MF1Fu:hover .fizzFoundations_img__lEoOp {
        opacity: 1
    }
}

.fizzFoundations_img__lEoOp {
    transition: opacity .2s ease-in;
    opacity: 1;
    content: "";
    position: absolute;
    z-index: -6;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain
}

@media(min-width:40rem) {
    .fizzFoundations_img__lEoOp {
        width: 80px;
        height: 80px
    }
}

@media(min-width:80rem) {
    .fizzFoundations_img__lEoOp {
        width: 100px;
        height: 100px
    }
}

.fizzFoundations_emojiBubble__0EYPt+.fizzFoundations_img__lEoOp {
    top: -25px;
    left: 70px
}

@media(min-width:40rem) {
    .fizzFoundations_emojiBubble__0EYPt+.fizzFoundations_img__lEoOp {
        top: -65px;
        left: 105px
    }
}

@media(min-width:80rem) {
    .fizzFoundations_emojiBubble__0EYPt+.fizzFoundations_img__lEoOp {
        top: unset;
        left: unset
    }
}

.fizzFoundations_emojiColorado__iAwLj+.fizzFoundations_img__lEoOp {
    top: 0;
    left: -20px
}

@media(min-width:40rem) {
    .fizzFoundations_emojiColorado__iAwLj+.fizzFoundations_img__lEoOp {
        top: -40px;
        left: -52px
    }
}

@media(min-width:80rem) {
    .fizzFoundations_emojiColorado__iAwLj+.fizzFoundations_img__lEoOp {
        top: unset;
        left: unset
    }
}

.fizzFoundations_emojiHanging__LwI0c+.fizzFoundations_img__lEoOp {
    top: 8px;
    left: 85px
}

@media(min-width:40rem) {
    .fizzFoundations_emojiHanging__LwI0c+.fizzFoundations_img__lEoOp {
        top: 4px;
        left: 145px
    }
}

@media(min-width:80rem) {
    .fizzFoundations_emojiHanging__LwI0c+.fizzFoundations_img__lEoOp {
        top: unset;
        left: unset
    }
}

.fizzFoundations_emojiStuff__HIXEL+.fizzFoundations_img__lEoOp {
    top: 12px;
    left: -16px
}

@media(min-width:40rem) {
    .fizzFoundations_emojiStuff__HIXEL+.fizzFoundations_img__lEoOp {
        left: 60px
    }
}

@media(min-width:80rem) {
    .fizzFoundations_emojiStuff__HIXEL+.fizzFoundations_img__lEoOp {
        top: unset;
        left: unset
    }
}

.fizzFoundations_fizzButton__uPgfs {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    font-family: var(--font-headline-secondary);
    text-transform: uppercase;
    font-size: var(--font-size-larger);
    line-height: 1;
    color: var(--fizz-foundations-button-text);
    background-color: var(--fizz-foundations-button-bg);
    border: 10px solid var(--white);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 100px;
    height: 100px;
    margin: 0 auto 5.5rem
}

@media(min-width:60rem) {
    .fizzFoundations_fizzButton__uPgfs {
        width: 165px;
        height: 165px;
        margin: 0 auto 3.5rem;
        font-size: var(--font-size-h4)
    }
}

.fizzFoundations_fizzButton__uPgfs .fizzFoundations_slice__oaa_G {
    transition: opacity .6s ease-out 80ms;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    width: 70%
}

.fizzFoundations_fizzButton__uPgfs .fizzFoundations_text__vYyQp {
    display: block;
    transition: opacity .6s ease-out 80ms;
    opacity: 1;
    padding: .85rem
}

@media(min-width:60rem) {
    .fizzFoundations_fizzButton__uPgfs .fizzFoundations_text__vYyQp {
        padding: 2rem
    }
}

@media(any-hover:hover)and (any-pointer:fine) {
    .fizzFoundations_fizzButton__uPgfs:active .fizzFoundations_slice__oaa_G, .fizzFoundations_fizzButton__uPgfs:focus .fizzFoundations_slice__oaa_G, .fizzFoundations_fizzButton__uPgfs:hover .fizzFoundations_slice__oaa_G {
        opacity: 1
    }

    .fizzFoundations_fizzButton__uPgfs:active .fizzFoundations_text__vYyQp, .fizzFoundations_fizzButton__uPgfs:focus .fizzFoundations_text__vYyQp, .fizzFoundations_fizzButton__uPgfs:hover .fizzFoundations_text__vYyQp {
        opacity: 0
    }
}

.fizzFoundations_fizzButton__uPgfs.fizzFoundations_open__YB2Kz {
    display: none
}

.fizzFoundations_image__ja0BI {
    margin-right: auto;
    margin-left: auto;
    max-width: 90rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: calc(var(--spacing-section)*-.5);
    width: 100%;
    position: relative;
    z-index: 0
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .fizzFoundations_image__ja0BI {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(0rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(0rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .fizzFoundations_image__ja0BI {
        padding-left: 0;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:60rem)and (max-width:60rem)and (orientation:landscape) {
    .fizzFoundations_image__ja0BI {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem)and (min-width:60rem) {
    .fizzFoundations_image__ja0BI {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.fizzFoundations_sliceOne__iaaE4 {
    position: absolute;
    top: 13%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .fizzFoundations_sliceOne__iaaE4 {
        display: block
    }
}

.fizzFoundations_sliceTwo__im6PA {
    position: absolute;
    top: 42%;
    left: 0;
    transform: translateX(-35%) translateY(-90%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .fizzFoundations_sliceTwo__im6PA {
        display: block
    }
}

.fizzFoundations_sliceThree__pWZMT {
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateX(-35%) translateY(-90%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .fizzFoundations_sliceThree__pWZMT {
        display: block
    }
}

.fizzFoundations_sliceFour__CZO1l {
    position: absolute;
    top: 75%;
    left: 10%;
    transform: translateX(-35%) translateY(-90%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .fizzFoundations_sliceFour__CZO1l {
        display: block
    }
}

.Home_container__97eC3 {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .Home_container__97eC3 {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .Home_container__97eC3 {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media(min-width:40rem) {
    .Home_container__97eC3 {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:40rem)and (max-width:60rem)and (orientation:landscape) {
    .Home_container__97eC3 {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:40rem)and (min-width:60rem) {
    .Home_container__97eC3 {
        padding-left: 3rem;
        padding-right: 3rem
    }
}

.Home_hero__NQ1he {
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    background-color: #fdb7c4;
    padding-top: 8rem
}

@media(min-width:40rem) {
    .Home_hero__NQ1he {
        padding-top: 0
    }
}

.Home_hero__NQ1he h1 {
    margin-bottom: 1rem
}

.Home_hero__NQ1he .Home_container__97eC3 {
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: .75rem;
    padding-right: .75rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    height: 100%
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .Home_hero__NQ1he .Home_container__97eC3 {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(.75rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(.75rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .Home_hero__NQ1he .Home_container__97eC3 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media(min-width:40rem) {
    .Home_hero__NQ1he .Home_container__97eC3 {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(12, 1fr)
    }
}

.Home_hero__NQ1he .Home_content__WcTpR {
    width: 100%;
    z-index: 1;
    grid-column: 2/6
}

.Home_hero__NQ1he .Home_backgroundImage__7QvAN {
    z-index: 0;
    width: 100%;
    padding-top: 4rem
}

@media(min-width:40rem) {
    .Home_hero__NQ1he .Home_backgroundImage__7QvAN {
        max-width: 1750px;
        justify-self: end;
        transform: translateX(8%);
        padding-top: 0
    }
}

@media(min-width:60rem) {
    .Home_hero__NQ1he .Home_backgroundImage__7QvAN {
        transform: translateX(10%)
    }
}

@media(min-width:80rem) {
    .Home_hero__NQ1he .Home_backgroundImage__7QvAN {
        transform: translateX(5%)
    }
}

@media(min-width:90rem) {
    .Home_hero__NQ1he .Home_backgroundImage__7QvAN {
        transform: translateX(2.5%)
    }
}

@media(min-width:120rem) {
    .Home_hero__NQ1he .Home_backgroundImage__7QvAN {
        transform: translateX(5%)
    }
}

.Home_homepage__7Bjyb .Home_backgroundImage__7QvAN {
    grid-column: unset;
    z-index: 0;
    max-width: 1750px;
    justify-self: end
}

.Home_campaign__NaFvD {
    position: relative;
    width: 100%;
    padding: var(--spacing-section) 0 0;
    background-color: #ffbdd0;
    /* background-color: var(--photo-yellow); */
}

.Home_campaign__NaFvD .Home_sliceOne__xttbp {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(150%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .Home_campaign__NaFvD .Home_sliceOne__xttbp {
        display: block
    }
}

.Home_campaign__NaFvD .Home_sliceTwo__yZJz8 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(300%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .Home_campaign__NaFvD .Home_sliceTwo__yZJz8 {
        display: block
    }
}

.Home_campaign__NaFvD .Home_sliceThree__PSPOw {
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .Home_campaign__NaFvD .Home_sliceThree__PSPOw {
        display: block
    }
}

.Home_campaign__NaFvD .Home_sliceFour__O_OAL {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateX(-40%) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .Home_campaign__NaFvD .Home_sliceFour__O_OAL {
        display: block
    }
}

.Home_campaign__NaFvD .Home_sliceFive__Cg14s {
    position: absolute;
    top: 12%;
    left: 10%;
    transform: translateX(0) translateY(-50%);
    z-index: 10;
    display: none
}

@media(min-width:60rem) {
    .Home_campaign__NaFvD .Home_sliceFive__Cg14s {
        display: block
    }
}

.Home_campaign__NaFvD .Home_text__8moDw {
    position: relative;
    z-index: 10;
    margin-top: calc(var(--spacing-section)/2*-1)
}

.Home_campaign__NaFvD .Home_image__GHKw_ {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90rem;
    padding-left: 0;
    padding-right: 0
}

@media only screen and (max-width:60rem)and (orientation:landscape) {
    .Home_campaign__NaFvD .Home_image__GHKw_ {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(0rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(0rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem) {
    .Home_campaign__NaFvD .Home_image__GHKw_ {
        padding-left: 0;
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 90rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media only screen and (min-width:60rem)and (max-width:60rem)and (orientation:landscape) {
    .Home_campaign__NaFvD .Home_image__GHKw_ {
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-left: calc(1.5rem + var(--safe-area-inset-left));
        --safe-area-inset-right: env(safe-area-inset-right);
        padding-right: calc(1.5rem + var(--safe-area-inset-right))
    }
}

@media(min-width:60rem)and (min-width:60rem) {
    .Home_campaign__NaFvD .Home_image__GHKw_ {
        padding-left: 3rem;
        padding-right: 3rem
    }
}